snippet capture "Capture the output of a command."
${1:Variable}=$(${VISUAL})
endsnippet

snippet color "Color the text selected."
\${${1:BIBlue}}${VISUAL}\${No_Color}
endsnippet

snippet v "Variable insert."
\${${1:Variable}}
endsnippet

snippet info "Print bold information."
PrintInfo "${1:Information}"
endsnippet

snippet binfo "Print bold information."
PrintBoldInfo "${1:Information}"
endsnippet
